.banner-principal-decorativo
  &-1
    animation: float2 2.8s ease-in-out infinite alternate
    position: absolute
    top: 27%
    right: 68%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 68%
    right: 15%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
@keyframes float2
  0%
    transform: translateX(20px)
  100%
    transform: translateX(0px)


.fa-ul
  margin-left: 0 !important
  li
    display: flex !important
    &:before
      position: relative
      margin-right: 7px
      font-size: 1.4rem


.subtitulo
  background-color: #FFB476 
  padding: 7px 25px
  border-radius: 5px
  width: fit-content
.z-999
  z-index: 999
.mb-n8
  margin-bottom: -8%  
.mb-n15
  margin-bottom: -15%  
.mt-n5
  margin-top: -5%
.bx-shadow
  -webkit-box-shadow: 1px 8px 21px -3px rgba(179,179,179,1)
  -moz-box-shadow: 1px 8px 21px -3px rgba(179,179,179,1)
  box-shadow: 1px 8px 21px -3px rgba(179,179,179,1)
.borde-gris
  border: 1px solid #ececec
.h-35
  height: 35px
.h-45
  height: 45px
.linea
  height: 1px
  background-color: #12263F
  width: 100%

.bg1
  background-color: #FFECDC 
.bg2
  background-color: #FFF3EA 
.bg3  
  background-color: #F1F4F5
.bg4
  background-color:  #444A4E
.bg5
  background: linear-gradient(180deg, rgba(222,222,222,1) 0%, rgba(255,255,255,1) 50%, rgba(222,222,222,1) 100%)  
.bg6
  background-color:   #083142
.bg7
  background-color: #E6EEF3
.bg8
  background-color: #FAFAFA
.bg9
  background-color: #FFC8BF !important
.bg10
  background-color:  #12263F
.bg11
  background-color:   #FF6148
.bg12
  background-color: #E4E9EB 
.bg13
  background-color: #FFB476
.bg14
  background-color: #FFEBE8 !important
.color-custom
	background-color: #FFC8BF
	&::before
		background-color: #FF8E7C
.fondo-t2
  background: #E4E9EB
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem  
.fondo-t1
  background: #FFEFE3
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -1.4rem  


.text1
  color: #058160 
.text2
  color: #FFB476
.text3
  color: #FFFFFF


.floatRight
  float: right
.align-14
  text-align: left  !important
  margin-left: 3.5rem !important
  margin-right: -4rem !important
  @media (max-width: 992px)
    margin-right: 0rem !important
    margin-left: 0rem !important
.flex-container
  display: flex
  flex-wrap: nowrap
  text-align: center
  padding: 30px
  flex-direction: row
  border-top-left-radius: 20px
  border-top-right-radius: 20px
  border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px
  margin-top: -10rem !important
  flex-flow: row 
  z-index: 1
  width: 94%
  margin: 0 auto
.contenedor-total
  position: relative
  width: 100%
  padding-bottom: 8rem
  @media (max-width: 992px)
    padding-bottom: 3rem
.contenedor-text-1
  position: absolute
  bottom: -6%
  left: 49.5%
  transform: translateX(-50%) translateY(-50%)
  width: 94%
  height: 150px
  background-repeat: no-repeat
  background-size: cover
  background: linear-gradient(180deg, rgba(222,222,222,1) 0%, rgba(255,255,255,1) 50%, rgba(222,222,222,1) 100%)
  display: flex
  align-items: center
  justify-content: center
  border-radius: 20px
  @media (max-width: 768px)
    transform: translateX(-50%) translateY(-67%)
    padding: 35px 0px
    height: auto
  @media (min-width: 769px) and (max-width: 992px)
    position: relative
    padding: 1rem
    left: 50%
    height: auto
    transform: translateX(-50%) translateY(0%)
.fondo-1
    background-color: #FFF7F0
.fondo-15
  background-image: url('../assets/curso/temas/fondo.png')
  background-size: cover
  background-repeat: no-repeat
  padding: 4.0rem
  display: flex
  align-items: center
  justify-content: right
  border-radius: 20px
  @media (max-width: 992px)
    display: none
.fondo-16
  background-image: url('../assets/curso/temas/fondo2.png')
  background-size: cover
  background-repeat: no-repeat
  padding: 4.0rem
  display: flex
  align-items: center
  justify-content: right
  border-radius: 20px
  @media (max-width: 992px)
    display: none
.fondo-17
  background-image: url('../assets/curso/temas/fondo3.png')
  background-size: cover
  background-repeat: no-repeat
  padding: 4.0rem
  display: flex
  align-items: center
  justify-content: right
  border-radius: 20px
  @media (max-width: 992px)
    display: none
.pRelative_1
  position: relative
  margin-inline-end:  -0.8rem
  margin-top: -2rem
.backtoTop_1
  width: 105px
  position: relative
  top: -2rem
  float: right
  margin-bottom: 1rem
.tarjeta-azul
  background-color: #083142 !important
  border-top-left-radius: 15px
  border-top-right-radius: 15px
  border-bottom-right-radius: 15px
  border-bottom-left-radius: 15px
  width: 450px
  margin-top: -200px !important
  @media (max-width: 992px)
    width: 330px
    margin-left: -30px
.tarjeta_blue
  background-color: #12263F 
  -webkit-box-shadow: 1px 8px 21px -3px rgba(179,179,179,1)
  -moz-box-shadow: 1px 8px 21px -3px rgba(179,179,179,1)
  box-shadow: 1px 8px 21px -3px rgba(179,179,179,1)
.tarjeta--gris
  background-color: #F6F6F6 

.img-infog1
  position: relative  
h2.numeroTarjeta 
  font-size: 55px
  color: #fff
  opacity: .27 
  position: absolute
  top: -15px
  right: 2%

.fondo-menu
  background-image: url('../assets/curso/temas/t1/fondo-menu.png')
  background-size: 100% 70%
  background-repeat: no-repeat
  @media (max-width: 769px)
    background-size: cover
.menu7
  width: 14.2%
  @media (min-width: 577px) and (max-width: 769px)
    width: 49%
  @media (max-width: 576px)
    width: 100%
.caja
  background-color: white
  border-radius: 10px
  height: 180px
  -webkit-box-shadow: 1px 8px 21px -3px rgba(179,179,179,1)
  -moz-box-shadow: 1px 8px 21px -3px rgba(179,179,179,1)
  box-shadow: 1px 8px 21px -3px rgba(179,179,179,1)
  z-index: 1
  text-align: center 
  @media (max-width: 769px)
    height: auto
  img
    width: 60px
  a
    font-weight: bold
     
.linea-tiempo-d__item--selected .linea-tiempo-d__item__content.tarjeta
  background-color: #FFECDC

.t1-1 .bloque-texto-g
  border-top-left-radius: 55px
  border-bottom-left-radius: 10px
.t1-3 
  .bloque-texto-g
    border-top-left-radius: 55px
    border-bottom-left-radius: 10px
  .bloque-texto-g__img  
    border-top-left-radius: 55px
    border-bottom-left-radius: 10px
    border-bottom-right-radius: 55px
    border-top-right-radius: 10px

.tarjeta-blanca
  background-color: #FFF !important
  border-radius: 15px
  width: 450px
  @media (max-width: 992px)
    width: 330px
    margin-left: -30px
  .bg-color-1
    background-color: #FFB476
    padding: 5px 15px 
    width: fit-content

.t1-1 
  .slyder-f__btn
    width: 50px
  .slyder-f__btn i
    font-size: 1.8rem
    background-color: #2EFEC7
    border-radius: 50%
    padding: 10px 13px

.caja2
  background-color: white
  border-radius: 10px
  -webkit-box-shadow: 1px 8px 21px -3px rgba(179,179,179,1)
  -moz-box-shadow: 1px 8px 21px -3px rgba(179,179,179,1)
  box-shadow: 1px 8px 21px -3px rgba(179,179,179,1)
  text-align: center 

.slyder-a__bullets__item 
  background-color: #AFAFAF
  @media (max-width: 768px)
    margin: 0 5px
.slyder-a__btn--sigt, .slyder-a__btn--atrs 
  background-color: #2EFEC7
.slyder-a__bullets__item:hover 
  border-color: #FF6148
.slyder-a__bullets__item--active 
  background-color: #FF6148
  border-color: #FF6148

.acordion__activo .acordion__accion__btn--a
  background-color: #2EFEC7

.tarjeta2-6
  background-color: #fff  
  -webkit-box-shadow: 1px 8px 21px -3px rgba(179,179,179,1)
  -moz-box-shadow: 1px 8px 21px -3px rgba(179,179,179,1)
  box-shadow: 1px 8px 21px -3px rgba(179,179,179,1)
  border-bottom: 5px solid #FF8E7C
  border-top-left-radius: 15px
  border-top-right-radius: 15px

.col-img  
  display: flex
  flex-direction: column
  align-items: center
.linea_dots
  flex: 1
  display: flex
  justify-content: center
  padding: 5px 0
.linea_dots::after 
  content: ""
  display: block
  width: 0
  height: 100%
  border-left: 5px dotted #707070

.text-right
  text-align: right !important  
.tabla-a .t1-6 td
  border: 0px
.tabla-a .t1-6 .br
  border-right: 3px solid #49495C  
.tabla-a .t1-6 .bb
  border-bottom: 3px solid #49495C  

.crd--avatarHorizontal
  position: relative
  padding-right: 18rem
  & > *
    position: relative
  p 
    margin-bottom: 0
  &::before  
    position: absolute 
    content: ''
    top: 0
    right: 0
    width: calc( 100% - 60px)
    height: 100%
    background-color: #FFEEEB

  @media (max-width: 1000px)
    padding-right: 2rem

.crd--first
  &::before 
    background-color: #FFC8BF !important
.crd--third
  &::before 
    background-color: #FFC8BF !important
.crd--last 
  &::before 
    background-color: #FFEEEB !important

.crd--first
  &::before 
    border-top-left-radius: 30px
.crd--last
  &::before 
    border-bottom-left-radius: 30px

.avatar
  position: absolute
  bottom: 0
  right: -3.2rem
  z-index: 1
  width: 325px
  @media (max-width: 1000px)
    display: none
